@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learnt about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="mt-4">
    <h2>Your Details</h2>
    <p><strong>IP Address:</strong> @Model.ClientIp</p>
    <div style="color:@Model.ClientColor">
        <p><strong>Operating System:</strong> @Model.ClientOs</p>
        <p><strong>Browser:</strong> @Model.ClientBrowser</p>
    </div>
</div>

<div>
    <h2>This is a simple, sample app. It uses the rather straightforward ASP.NET RazorR pages.</h2>
</div>
