@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>With ASP.NET Core, You Score.</p>
</div>

<div>
    <h2>This is a simple, sample app. It uses the rather straightforward ASP.NET RazorR pages.</h2>
</div>

<h4 class="fw-bold" style="margin-top: 30px">Who Are You?</h4>
<div class="mt-0" id="details">
    <p><strong>IP Address:</strong> @Model.ClientIp</p>
    <div style="color:@Model.ClientColor">
        <p><strong>Operating System:</strong> @Model.ClientOs</p>
        <p><strong>Browser:</strong> @Model.ClientBrowser</p>
    </div>
</div>

