@page
@model NewsModel 
@{
    ViewData["Title"] = "News";
}

<div class="text-center">
    <h1 class="display-4">News</h1>
</div>

<div class="mt-4">
    <h3>03 Mar 2026, Nothing To Report</h3>
    <p>I wish there was, but there wasn't. Wars and stuff are happening elsewhere. Be prepared.</p>
</div>

<div>
</div>
